<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[TickDown.Core]*,[TickDown]*,[TickDown.Tests]TickDown.ViewModels.*,[TickDown.Tests]TickDown.Services.SettingsService*</Include>
          <Exclude>[TickDown]TickDown.ViewModels.MainViewModel,[TickDown]TickDown.ViewModels.MainViewModel/*,[TickDown]TickDown.ViewModels.TimerViewModel,[TickDown]TickDown.ViewModels.TimerViewModel/*,[TickDown]TickDown.Services.SettingsService,[TickDown]TickDown.Services.SettingsService/*,[TickDown]Microsoft.*</Exclude>
          <IncludeTestAssembly>true</IncludeTestAssembly>
          <ExcludeByFile>**/obj/**</ExcludeByFile>
          <DeterministicReport>true</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
